GITHUB_OWNER=YOUR_GITHUB_USERNAME_OR_ORG
GITHUB_REPO=YOUR_REPOSITORY
GITHUB_BRANCH=main
GITHUB_TOKEN=YOUR_FINE_GRAINED_TOKEN
ADMIN_PASSWORD=1122
SESSION_SECRET=REPLACE_WITH_A_LONG_RANDOM_SECRET
ALLOWED_ORIGIN=https://YOUR_GITHUB_USERNAME.github.io
